.main_feedback{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 0px 20px;
    width: 55%;
    justify-self: center;
    
}
.header h1{
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}
.header p{
    align-self: center;
    text-align: center;
    margin-top: 30px;
}
.header{
    margin-bottom: 20px;
}
.row1{
     display: flex;
     margin-bottom: 30px;
    /* position: absolute;  */
 }
.row1 label{
    display:block;
}
.row2{
    display: flex;
    margin-bottom: 50px;
}
.doctorname{
        display: flex;
    }
.doctorname select{
    display: flex;
    margin-top: 20px;
    width: 250px;
    outline: none;
    margin-left: 140px;
 }
 .patient_name{
    display: flex;
    gap: 10px;
    margin-top: 20px;
 }
 .patient_name input{
    height: 30px;
 }
 .d_name{
    margin-left: 415px;
    margin-bottom: 20px;
 }
 .email{
    margin-left: 348px;
    margin-bottom: 20px;
 }
 .c_email input{
    margin-left: 142px;
    margin-top: 20px;
    width: 250px;
    height: 30px;
    
  }
.phone_number input{
    height: 30px;
    width: 341px;
    margin-top: 20px;
}
 .p_name{
     margin-bottom: 20px;
 }
 .pnumber{
     margin-bottom: 20px;
 }
 .table {
    width: 100%;
    margin: 50px 0px;
    /* border-collapse: collapse; */
    margin-top: 20px;
    border: 1px solid gray;
}
 .table ,td, th,tr{  
    border: 1px solid gray;
    text-align:  center;
}
input[type="radio"] {
    transform: scale(1.5);
    justify-self: center;
    /* margin-left: 40%; */
  }
  .main_feedback button {
    width: 150px;
    border-radius: 5px;
    height: 30px;
    align-self: center;
    margin-left: 40%;
    /* border: none; */
    border:2px solid #024594;
    color: #024594;
    font-family: "Roboto-Medium", sans-sarif;
    background-color: #fff;
    margin-bottom: 20px;
 }
  .main_feedback button:hover{
    background-color: #024594;
    font-family: "Roboto-Medium", sans-sarif;
    color: #fff;
  }
  .main_feedback textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    
 }
.feedback input{
    margin: 10px;
}