 
 .img_searchdoctor{
    margin-top: 90px;
    width: 100vw;
 }
 .search_container{
    overflow: hidden;
    width: 100vw;
 }
 .find-doctor-logo{
    position: relative;
    top: -277px;
    left: 350px;
 }
 .find-doctor-logo1{
    position: relative;
    top: -277px;
    left: 470px;
 }
 .search_container h2{
     /* padding-right: 20px; */
    position: relative;
    font-weight: bold;
    color: #024594;
    font-size: 2rem;
    font-family: "Roboto-Medium", sans-sarif;
    top: -312px;
    left: 143px;
 }
 .search_container p{
    width: 445px;
    height: 65px;
    position: relative;
    top: -269px;
    left: 143px;
 }
 .search_doctor{
    display: flex;
    padding: 0 230px;
     justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 9px;
    height: 155px;
    margin-top: -161px;
    background-color: rgb(4, 69, 151);
    overflow: hidden;
    /* visibility:visible; */
}
.inputfield_input{
    color: #024594;
    font-weight:600;
    font-size: 1rem;
    font-family: "Roboto-Medium", sans-sarif;
    padding: 20px;
    /* height: 50px; */
    border: none;
    width: 738px;
    margin-top: 31px;
}
.search_doctor button  {
    transform: translateY(-146%);
    display: flex;
    background-color: transparent;
    border: none;
    margin-left: 731px;
    /* border: 1px solid #044597; */
}
 
.Speciality{
    display: block;
    position: relative;
    width: 500PX;
    height: auto;
    background-color: white;
    border: hidden;
}
.filter_span { 
    position: absolute;
    top: 0px;
    right: 0px;
    color: #044597;
    font-size: 0.75rem;
}
.form-control{
    margin-left: 12px;
    height: 65px;
    width: 109%;
    padding: 6px 30px 6px 12px;
    border: none;
    color: #024594;
    font-weight: 600;
    height: 58px;
    margin-top: 51px;
    font-size: 1rem;
    font-family: "Roboto-Medium", sans-sarif;
}
.search_result{
    height: 200px;
    display: flex;
}