.footer {
    display: flex;
    justify-content: center;
    background: #F9FBFF;
    height: 300px;
  }
  
 .cl,.c2,.c3{
    margin-top: 26px;
    margin-left: 209px;
     
 }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style for list headers */
h5 {
    margin-top: 0;
    color:  #0B103F;
  }
  
  /* Style for list items */
  li {
    margin: 5px 0; /* Add vertical margin between list items */
  }
  
  /* Ensure divs are side by side */
  .c1, .c2, .c3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start; /* Align items to the start of the cross axis */
  }
  a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-bottom: 3px;
  }
  a:hover,a h5:hover{
    
    color: #0056B3;
    text-decoration: underline;
  }
  
 
  