.container{
    width: 58%;
    display: flex;
    margin: auto;
    background-color: #F8F9FD;
    border-radius: 20px;
    padding: 0;
    overflow:hidden;
    margin-bottom: 30px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
    margin-top: 50px;

}
body{
    background-color:F8F9FD ;
}
.login_container{
    width: auto;
    height: auto;
    border-radius: 5px;
    height: 200px;
    /* margin: auto; */
    background-color: #fff;
    padding:40px 60px;
     
}
.login_container2{
    position: relative;
    width: 335px;
    overflow: hidden;
    padding: 20px;
    background-color: #044597;
    color: #fff;
    text-align: center;
    align-items: center;
}
.login_container2 p{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin: auto;
    text-align:center;
}
.login_container2 button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin: auto;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 30px;
   background-color: #007bff;
   color: #fff;
   border-radius: 20px;
   border:#007bff;
   padding: 11px 24px;
   width: 150px;
}
.login_container_header{
     
    border-bottom: dashed 1px rgba(13, 19, 85, 0.3);
    color: #F58B41;
    margin-bottom: 20px;
    margin-left: -60px;  
    margin-right: -60px;
}
.login_container_header p{
     
     
    margin-left: 60px;  
 }
.login_container_header p{
    display: inline-block;
    width: 64px;
    height: 30px;
    text-align: center;
    border-bottom:2px solid #F58B41;
    /* border-bottom: dashed 1px rgba(13, 19, 85, 0.3); */
    color: #F58B41;
     
}
.login_container button{
     margin-top: 15px;
     margin-bottom: 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    border:#007bff;
    padding: 11px 24px;
    width: 150px;
}
 
.login_name{
    display: flex;
    margin-left:333px;
    padding-top: 50px;
    color: 
    #024594;
    font-size: 29px;
    font-family:Roboto (woff) sans-serif;
    font-weight: 600;

}
.login_container input{
     border: none;
     width: 430px;
     border-bottom: solid 1px #F58B41;
     margin-bottom: 10px;
     outline: none;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.login_container label{
    display:block;
    width: 100px;
}