.container_manage_apt {
  padding: 20px;
}

/* Styles for the spinner */
.dot-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dot-spinner__dot {
  width: 1rem;
  height: 1rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  background: #183153;
  animation: bounce 0.6s infinite alternate;
}

.dot-spinner__dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot-spinner__dot:nth-child(3) {
  animation-delay: 0.2s;
}

.dot-spinner__dot:nth-child(4) {
  animation-delay: 0.3s;
}

.dot-spinner__dot:nth-child(5) {
  animation-delay: 0.4s;
}

.dot-spinner__dot:nth-child(6) {
  animation-delay: 0.5s;
}

.dot-spinner__dot:nth-child(7) {
  animation-delay: 0.6s;
}

.dot-spinner__dot:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}

/* Doctor selection styles */
.doctor-select {
  margin-bottom: 20px;
}

.doctor-select label {
  font-family: 'Roboto-Medium';
}

/* Table styles */
.at_table {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #f68c42;
}

.table_data_row {
  transition: background-color 0.3s;
}

.table_data_row:hover {
  background-color: #f0f8ff;
}

/* Button styles */
.delete_button {
  background-color: #fff;
  color: #024594;
  border-radius: 10px;
  border: 1px solid #024594;
  width: 95px;
}

.delete_button:hover {
  background-color: #024594;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .at_table {
    padding: 5px;
  }

  .delete_button {
    width: 80px;
  }
}