*{
    margin: 0;
    overflow: 0;
}
.navbar{
    display: flex;
    gap: 1rem;
    background-color: #f8f9fd;
    height: 2rem;
    align-items: center;
}
.list {
    display: flex;
    gap: 2rem;
    margin-left: 49.5%;
    list-style-type: none;
}
.list li a{
    display: flex;
    color: #0B103F;
    
    font-size: 0.813rem;
    font-family: Roboto (woff)sans-serif;
    text-align: center;
    text-decoration: none;
    
}
.list li a:hover{
    color: #191e4a;
    transition: color 0.3s ease;
    
}
.navbar img{
    height: 1.5rem;
    padding: 0 0.5rem;
}
.logo{
    max-width: 100%;
    height: auto;
    margin-left: 11rem;
}

.info{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 85px;
}
span{
    font-size: .75rem;
    font-weight: 900;
    font-family: "Roboto-Medium", sans-sarif;
    color: #f9b17f;
}
.contact {
    text-decoration: none;
    font-size: .75rem;
    font-weight: 900;
    font-family: "Roboto-Medium", sans-sarif;
    color: #024594;
    width: auto;
}
.contact:hover{
    text-decoration:underline;
   
 }
.info ul li a{
    display: inline-block;
    font-size: .75rem;
    font-weight: bold;
    text-decoration: none;
    font-family: "Roboto-Medium", sans-sarif;
    color: #024594;
    width: auto;
}
.info ul li {
    list-style: none;
}
.info ul li a:hover{
    text-decoration: underline;
}
ul{
margin-left: 11%;
display: flex;
gap: 3rem;
}
.info ul{
margin-left: 18%;
display: flex;
gap: 3rem;
}



.info img{
    max-width: AUTO;
    max-height: 50px;
    margin-left: 10%;
}
.submenu{
    font-family: Roboto (woff) sans-serif;
    /* margin-left: -4%; */
    padding-left: 10%;
    margin-top: 10px;
    background-color: #f8f9fd;
    display: flex;
    align-items: center;
    height:54px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);

}
.submenu ul{
    width: 100vw;
    list-style: none;
}
.submenu ul li{
    display: inline-block;
    position: relative;
    gap: 3rem;
}
.submenu ul li a{
    display: inline-flex;
    text-decoration: none;
    color: #0B103F;
    font-weight: 400;

}
.submenu ul {
    display: inline-flex;
    text-decoration: none;
    color: #0B103F;

}
.submenu ul {
    display: inline-flex;
    width: auto;
    height: 54px;
    align-items: center;
    text-decoration: none;
    color: #0B103F;

}
.submenu ul li ul.dropdown li{
    display:block;
 }
.submenu ul li ul.dropdown {
    width:100vw;
    display: flex;
    align-items: center;
    position: absolute;
    left: -100;
    z-index: 999;
    margin-left: -10rem;
    padding-left: 10rem;
    display: none;
    height: 100px;
 }
 .dropdown{
    background-color: #024594;
    color: #fff;
    padding: 0;
 }
 .dropdown li a{
    display: inline-block;
    
    padding: 0;
 }
 .dropdown li a:hover{
    display: inline-block;
    color: white;
    border-bottom: 2px solid orange;
    transition: border-bottom 0.2s ease;
    transition: color 0.2s ease;
 }
 .dropdown li a:hover{
    display: inline-block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid orange;
    transition: border-bottom 0.2s ease;
    transition: color 0.2s ease;
 }

 .submenu ul li:hover ul.dropdown{
    /* margin-top: 20px; */
    color: white;
    display: flex;
 }
 
 
.hidden{
    visibility: hidden;
}