.main_services h3{
display: inline-block;
   margin-left:39%;
   margin-bottom:10px;
   margin-top: 50px;
   font-size: 
   32px;
   font-weight: 450;
   color: #F68C42;
}
.specialities h3{
display: inline-block;
   margin-left:42%;
   margin-bottom:10px;
   margin-top: 50px;
   font-size: 
   32px;
   font-weight: 450;
   color: #F68C42;
}
.main_container_services{
    background-color: #fff;
}
.main_services ul li a {
    display: flex;
    padding: 10px;
   align-items: center;
   
}
.specialities ul li a {
    display: flex;
    padding: 20px;
   align-items: center;
   
}
.main_services ul li a:hover{
   text-decoration: none;
   
}
.specialities ul li a:hover{
   text-decoration: none;
   
}
 
.main_services ul li {
    width: 40%;
   border-bottom: solid 1px #bdcbdf;

   
}
.specialities ul li {
    width: auto;
    border-bottom:solid 1px #bdcbdf;
    padding: 0px;

   
}
.specialities ul li a {
   display: flex;

   
}
.specialities{
    width: 70%;
    margin: auto;
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
 
.main_services ul{
   width: 70%;
   margin: auto;
   
}
.main_services ul li a img{
margin-right: 10px;
   
}
.specialities ul li a img{
margin-right: 10px;
   
}
 
.main_services ul li a .text_link{
    padding: 10px;
    display: flex;
    align-self: center;
    color: #024594;
    font-family: "Roboto-Medium", sans-sarif;
   font-size: 1.25rem;
   font-weight: 400;
}
.specialities ul li a .text_link{
    padding: 10px;
    display: flex;
    align-self: center;
    color: #024594;
    font-family: "Roboto-Medium", sans-sarif;
   font-size: 1.25rem;
   font-weight: 400;
}
 