.main_container{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-right: -20px; */
}
.container1{
    background-color: #044597;
    width: 30%;
    position: relative;
}
.container2 h3{
    color: #044597;
    margin-bottom: 30px;
     
}
.container1 p{
    position: absolute;
    color: white;
    top: 35%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.login_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin: auto;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color:transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    padding: 11px 24px;
    width: 165px;
    margin-right: -50%;
}
.login_btn:hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin: auto;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color:#fff;
    color:#044597;
     
    border-radius: 20px;
    padding: 11px 24px;
    width: 165px;
    margin-right: -50%;
}
.container2{
    width: 98%;
    padding: 20px 40px;
    height: 300px;
    background-color: #fff;
}
.container2 input{
    border: none;
    width: 280px;
    outline: none;
    border-bottom: 1px solid red;
    margin-top: 30px;

}
.container2 .container2_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.container2 .container2_2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.container2 .container2_2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.container2 .container2_3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
 
.container2_3 Button{
    
position: absolute;
position: absolute;
top: 78%;
left: 41%;
transform: translateY(-50%);
transform: translateX(-50%);
margin: auto;
text-align:center;
margin-top: 15px;
margin-bottom: 30px;
background-color: #007bff;
color: #fff;
border-radius: 20px;
border:#007bff;
padding: 11px 24px;
width: 150px;
}
 