.report_card{
    display: flex;
    width: 60%;
    background-color: #CDE7FF;
    height: 280px;
    border-radius: 14px 14px 14px 14px;
    font-family: 'Roboto-Medium';
}
.heading{
    margin-left: 18%;
    padding: 40px;
}
.main_container_report{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.report_details{
    display: block;
    width: 60%;
    border-radius: 14px 14px 14px 14px;
    background-color: #fff;
    padding: 40px;
}
.report_details input{
    display: inline-block;
    width: 60%;
    outline: none;
    padding: 12px;
    border: none;
    border-bottom: 1px solid orange;
    margin-bottom: 20px;
   
    
}
.otp_container{
    display: inline-block;
}
.otp_container input{
    width: 114%;
}
.otp_container .verify_button{
    position: relative;
    top: -115px;
    left: 356px;
    width: 40%;
    height: 40px;
}
.otp_container .verify_button:hover{
  width: 40%;
  height: 40px;
}
.report_details h3{
    margin-bottom: 30px;
}
.report_details button{
    height: 45px;
    border-radius: 20px;
    border: 1px solid #044597;
    width: 180px;
    background-color: #fff;
    color: #044597;
    font-family: 'Roboto-Medium';
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    /* position: relative; */
    /* left: -260px;
    top: -20px; */
    transition: background-color 0.3s;

 }
.report_details button:hover{
 
    border: 1px solid #044597;
 
    background-color: #044597;
    color: #fff;
    
    font-weight: 400;
}
.report_details label{
    margin-top: 30px;
    font-family: 'Roboto-Medium';
    color: #044597;
    font-size: 1rem;
    font-weight: 800;
    

}
.instructions{
    width: 40%;
    
    
    padding: 10px;
}
ol li{
     margin: auto;
     padding-bottom: 10px;
    font-size: 0.875rem;

}
ol {
   padding: 25px; 

}

.report img{
    width: 250px;
   
}
.report{
 display: flex;
 flex-direction: column;
 height: 300px;
 
}
.report h3{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-self: center;
 color: #044597;
 font-family: 'Roboto-Medium';

}

.report {
    margin-top: 30px;
    text-align: center;
  }
  
  .report h3 {
    margin-bottom: 20px;
  }
  
  .report-not-found {
    font-style: italic;
    color: #888;
  }
  
  .report-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .download-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .download-button:hover {
    background-color: #45a049;
  }